body
{
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator-container
{
    background-color:#22252D;
    height: 500px;
    width: 300px;
    border-radius: 5%;
}
.calc-input
{
   background: #292D36; 
   height: 320px;
   width: 300px;
   border-radius: 10%;
}
.calc-output
{
   height: 180px;
   width: 300px;
   display: flex;
   align-items: center;
   flex-direction:column;
  
}
.switch-container
{
    height: 40px;
    width: 100px;
    margin-top: 10px;
    background-color:rgb(41,45,54);
    border-radius: 15px;
}
#on
{
    height: 100%;
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    }
#off
{
    height: 100%;
    float: left;
    width: 50%;
    display: flex;
    align-items: center;
    
}
b
{
    font-size: 24px;
    color: white;
    text-align: center;
   }

.table-css
{
    height: 320px;
    width: 300px;
    display: flex;
    align-items: center;
   
    
}
.calc-rows{
    height: 54px;
    width: 300px;
    }

    .calc-button
    {
        background-color:#272B33;
        border: none;
        height: 100%;
        width: 100%;
        font-size: 22px;
        color: white;
        font-weight: bold;
    }

    .calc-buttonColor
    {
        color: #26B39D;
    }
    .calc-operatorColor
    {
        color: #D35E60;
    }
.calc-col
{
    height: 54px;
    justify-content: center;
    align-items: center;
    width: 75px;
}

.outputdata
{
    height: 130px;
    width: 300px;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    color:  white;
}